/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-weight: 600;
    font-weight: 700;
}

.nav a{
    text-decoration: none;
    vertical-align: middle;
    color: black;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-size: 80px;
    line-height: 1.1;
    padding-bottom: 50px;
    font-weight: 700;
}

h2{
    font-size: 40px;
    padding-bottom: 70px;
}

h3{
    font-size: 25px;
    text-align: left;
}

ul {
    list-style: none;
}

li, p, span{
    font-weight: 400;
}

/* COMMON */
.container{
    max-width: 1000px;
    margin: auto;
    font-family: inherit;
    padding: 50px 0;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* BTN */
.btn{
    background-color: #0061FF;
    border: none;
    color: white;
    padding: 10px 15px;
    font-style:inherit ;
    font-size: 15px;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.8
}

.btn-alternative:hover{
    background-color: lightgray;
}

.btn-trial{
    width: 100%;
}

.btn-trial-hero{
    width: 60%;
}

.btn-alternative{
    background-color: white;
    border: 1px solid black;
    color: black;
}

/* HEADER */
header{
    background-color: white;
    font-family: inherit;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgb(36, 52, 70) 0px 1px 2px 0px;
    z-index: 100;
}

.nav-right, .nav-left{
    width: 50%;
}

.nav-left ul, .nav-right ul {
    display: flex;
    text-decoration: solid;
}

.nav-right ul{
    justify-content: flex-end;
}

.nav-left li, .nav-right li {
    padding: 20PX 15px;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
}

.header-row{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

/* HERO */
.hero{
    padding-top: 100px;
    background-color: #B4D0E7;
    font-family: inherit;
}

.container-hero{
    max-width: 1180px;
    margin: auto;
    position: relative;
    bottom: -80px;
}

.hero-box{
    display: flex;
}

.hero-small {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.hero-img {
    width: 70%;
}

.hero-img img{
    max-width: 100%;
}

/* ICONS */
.fa-arrow-down{
    padding-top: 80px;
}

.offer li{
    display: flex;
}

a{
    color: #0061FF;
}

.fa-solid{
    padding-right: 10px;
}

.fa-check{
    color: #0061FF;
}

/* MAIN */
main{
    padding-top: 150px;
}

div > span{
    padding-right: 40px;
}

.billing-btn{
    padding-bottom: 20px;
}

.col{
    width: 30%;
    border: 1px solid black;
    flex-wrap: wrap;
}

.client-type{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.price{
    padding-bottom: 40px;
}

.price li,.col-big li{
    padding-bottom: 10px;
}

.price li:last-of-type{
    color: gray;
}

.offer li:last-of-type{
    padding: 20px 0;
}

.offer li{
    padding-bottom: 15px;
}

.padding{
    padding: 25px;
}

.billing-btn{
    padding-bottom: 70px;
}

.space-bottom{
    margin-bottom: 30px;
}


.highlights{
    padding-bottom: 30px;
}

.highlights h4{
   padding-bottom: 15px;
}

.highlights li{
    display: flex;
    padding: 10px 0;
}

main hr{
    width: 25%;
    border: 1px solid lightgray;
    margin: 35px 0 45px 0;
}

.col-whide{
    width: 100%;
    margin-top: 50px;
}

.col-whide-main{
    display: flex;
    justify-content: space-between;
}

.col-whide-main .col-small{
    padding-left: 30px;
}

.col-big{
    width: 65%;

}

.col-small{
    width: 30%;
    margin-bottom: 50px;
    
}

.col-small li{
    padding-bottom: 30px;
}
.col-big li:last-child{
    padding-top: 40px;
}

.col-big img{
    width: 100%;
}

.col-small img{
    width: 100%;
}

.tool-description p{
    padding-top: 30px;
}


/* section parner */
.partners{
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.col-partner{
    display: flex;
    flex-wrap: wrap;
    height: calc(100vw/3);
    width: calc(100vw/3);
}

.partner-box{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col-partner.center{
    overflow-y: auto;
    background-color: #F5F5F5;
}

.col-partner img{
    width: 50%;
    filter: invert(1);
}

.center img{
    filter: invert(0);
}

.center hr{
    color: gray;
    width: 25%;
    border: 1px solid lightgray;
    margin: 60px 0 ;
}

.center p{
    padding-bottom: 60px;
}

.center{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

/* partner's background*/
#green{
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}

#wine{
    background-color: #61082B;
}

#light-blue{
    background-color: #0093CE;
}

#light-red{
    background-color: #FF1C1C;
}

#red{
    background-color: #D5001F;
}

#extra-light-blue{
    background-color: #B4D0E7;
}

#blue{
    background-color: #0D2481;
}

#yellow{
    background-color: #FFD830;
}

/* section bottom banner */
#bottom-banner{
    background-color: #B4D0E7;
    
    
}

#bottom-banner h2{
    color: #61082B;
    margin: 70px 0px;
    padding: 0;
    
}

.btn-banner{
    background-color: #F5F5F5;
    color: black;
    border: none;
    width: 80%;
    padding-top: 15px 200px;
    margin-top: 80px;
}   


/* FAQ */

#faq{
    margin-top: 100px;
}

.faq-box{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid lightgray;
    padding: 30px 0;
}

#faq .faq-box:last-child{
    border-bottom: 2px solid lightgray;
}

/* FOOTER */

footer{
    background-color: black;
    padding: 100px 0 50px 0;
    margin-top: 100px;
}

.footer-container{
    margin: auto;
    max-width: 1200px;
    justify-content: space-between;
}

.col-footer{
    width: calc(90%/5);
    color: white;
    padding-bottom: 50px;
}

.col-footer h4{
    margin-bottom: 10px;
    font-weight: 400;
}

.col-footer h3{
    padding-bottom: 20px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer hr{
    color: lightgray;
    width: 10%;
    margin: 50px 0;
}

.footer-bottom{
    color: gray;
   
}

.footer-bottom ul{
    display: flex;
}

.footer-bottom li{
    padding-left: 5px;
}
