/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-weight: 600;
    font-weight: 700;
}

.nav a{
    text-decoration: none;
    vertical-align: middle;
    color: black;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-size: 80px;
    line-height: 1.1;
    padding-bottom: 50px;
    font-weight: 700;
}

h2{
    font-size: 40px;
    padding-bottom: 70px;
}

h3{
    font-size: 25px;
    text-align: left;
}

ul {
    list-style: none;
}

li, p, span{
    font-weight: 400;
}

/* COMMON */
.container{
    max-width: 1000px;
    margin: auto;
    font-family: inherit;
    padding: 50px 0;
}

/* BTN */
.btn{
    background-color: #0061FF;
    border: none;
    color: white;
    padding: 10px 15px;
    font-style:inherit ;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.8
}

.btn-alternative:hover{
    background-color: lightgray;
}

.btn-trial{
    width: 100%;
}

.btn-trial-hero{
    width: 60%;
}

.btn-alternative{
    background-color: white;
    border: 1px solid black;
    color: black;
}

/* HEADER */
header{
    font-family: inherit;
}

.nav-right, .nav-left{
    width: 50%;
}

.nav-left ul, .nav-right ul {
    display: flex;
    text-decoration: solid;
}

.nav-right ul{
    justify-content: flex-end;
}

.nav-left li, .nav-right li {
    padding: 20PX 15px;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
}

.header-row{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

/* HERO */
.hero{
    background-color: #B4D0E7;
    font-family: inherit;
}

.container-hero{
    max-width: 1180px;
    margin: auto;
    position: relative;
    bottom: -80px;
}

.hero-box{
    display: flex;
}

.hero-small {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.hero-img {
    width: 70%;
}

.hero-img img{
    max-width: 100%;
}
/* ICONS */

.offer li{
    display: flex;
}

a{
    color: #0061FF;
}

.fa-solid{
    padding-right: 10px;
}

.fa-check{
    color: #0061FF;
}
/* MAIN */
main{
    padding:150px;
}

div > span{
    padding-right: 40px;
}

.billing-btn{
    padding-bottom: 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    width: 30%;
    border: 1px solid black;
    flex-wrap: wrap;
}

.client-type{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.price{
    padding-bottom: 40px;
}

.price li,.col-big li{
    padding-bottom: 10px;
}

.price li:last-of-type{
    color: gray;
}

.offer li:last-of-type{
    padding: 20px 0;
}

.offer li{
    padding-bottom: 15px;
}

.padding{
    padding: 25px;
}

.billing-btn{
    padding-bottom: 70px;
}

.space-bottom{
    margin-bottom: 30px;
}


.highlights{
    padding-bottom: 30px;
}

.highlights h4{
   padding-bottom: 15px;
}

.highlights li{
    display: flex;
    padding: 10px 0;
}

main hr{
    width: 25%;
    border: 1px solid lightgray;
    margin: 35px 0 45px 0;
}

.col-whide{
    width: 100%;
    margin-top: 50px;
}

.col-whide-main{
    display: flex;
    justify-content: space-between;
}

.col-whide-main .col-small{
    padding-left: 30px;
}

.col-big{
    width: 65%;
}

.col-small{
    width: 30%;
    margin-bottom: 50px;
    
}

.col-small li{
    padding-bottom: 30px;
}
.col-big li:last-child{
    padding-top: 40px;
}

.col-big img{
    width: 100%;
}

.col-small img{
    width: 100%;
}

.tool-description p{
    padding-top: 30px;
}